<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O Dominikovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand black" href="#">WebTech</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="menu" class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
                <nav aria-label="breadcrumb breadcrumbs">
                        <ol id= "brdcb" class="breadcrumb breadcrumbs">
                            
                        </ol>
                    </nav>

            <h1 class="display-1">Niečo o mne </h1>
            <section>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="img-responsive" src="../views/obrazok.jpg" alt="Dominik Janecký" width="120" height="100">

                    </div><div class="col-sm-10">
                    <p>Zdravím, volám sa Dominik Janecký. Mám 21 rokov, narodil som sa 30.6.1997 v Handlovej.
                        Študoval som na Strednej odbornej škole v Handlovej odbor Technické lýceum, konkrétne so zameraním na informatiku. Toto štúdium sa mi podarilo
                        úspešne zakončiť maturitnou skúškou takže dúfam, že takto úspešne zakončím aj aktuálne štúdium o ktorom píšem nižšie.
                        Aktuálne študujem na Fakulte Elektrotechniky a Informatiky na Slovenskej Technickej Univerzite a odbor mám aplikovanú informatiku.
                        Momentálne som v treťom ročníku a nič neprenášam čo sa dúfam nebude meniť po skončení tohto ročníku a
                        úspešne dokončím bakalársky ročník aj s titulom. Túto "prvú" stránku som spravil ako prvé zadanie na predmet Webové technológie 1.
                        Úvodzovky som použil preto lebo jednu webovú stránku som vytvoril už aj na strednej škole ako ročníkový projekt. Som za tento predmet
                        veľmi vďaćný, pretože od poslednej tvorby ubehlo pár rokov a týmto zadaním som zistil, že som strašne veľa pozabúdal a verím, že si zabudnuté vedomosti takto opäť obnovím.
                        Rovnako verím, že ma tento predmet aj veľa nového naučí. Vlastne to tak bude určite, keďže už z prvej prednášky som sa dozvedel
                        čomu sa budeme venovať. Veľmi sa napríklad teším na JavaScripty, s ktorými som sa doteraz nestetol.
                    </p>
                </div></div>
                <h2>Čo mám rád</h2>
                <p> K mojím záľubám patrí futbal, snowboarding, ktorým som sa aktívne aj súťažne venoval už od detstva no potom som s
                    tým musel seknúť, kvôli vážnemu zraneniu ( zlomenine dvoch stavcov). Takźe týmto záľubám sa venujem už len rekreačne.
                </p>

                <aside >
                    <h4>Skúsiť treba všetko, veď žijeme len raz, v dospelosti na hlúposti nebude už čas !</h4>
                </aside>

                <p>
                    Vo voľnom čase keď mám samozrejme všetky povinnosti do školy "hotové" sa naplno venujem svojej priateľke a kamarátom.
                    Milujem zábavu, festivaly, zábavných a šialených ľudí a zbožňujem EDM a tak som vždy veľmi rád navštevoval rôzne festivaly a kluby, kde som zažil koncerty rôznych svetoznámych DJ´s.
                    Pár týchto festivalov a klubov som navštívil aj v zahraničí, keďže aj veľmi rád cestujem. Najradšej spomínam na pláž Zrće v Chorvátsku
                    na ostrove Pag. Je to obrovská pláž kde je asi 10 obrovských klubov a strašne veľa barov. Celé leto sa tu dejú obrovské akcie a festivaly. Práve tu som
                    zažil to najkrajšie leto a najdivokejšie zážitky.
                </p>
            </section>
            <section>
                <h2>Cestovanie</h2>
                <p>   Kedže už hore som spomenul že rád cestujem tak tu vymenujem krajiny, ktoré sa mi už podarilo navštíviť: </p>

                <ul class="destinacie">
                    <li>Dominikánska Republika</li>
                    <li>Sardínia</li>
                    <li>Mallorka</li>
                    <li>Grécko(Kréta)</li>
                    <li>Taliansko</li>
                    <li>Egypt</li>
                    <li>Turecko</li>
                    <li>Chorvátsko</li>
                    <li>Nemecko(Mníchov)</li>
                    <li>Bulharsko</li>
                </ul>
            </section>
        </div>
    </main>
    <footer class="footer">
        <span class="footer-text">Vytvorené 2019 |  Lea Lapšanská, Miloš Medo, Dominik Janecký | FEI API</span>
    </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>