<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O Lei</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand black" href="#">WebTech</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="menu" class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
                <nav aria-label="breadcrumb breadcrumbs">
                        <ol id= "brdcb" class="breadcrumb breadcrumbs">
                            
                        </ol>
                    </nav>
                    <article>
                            <h1>Lea Lapšanská</h1>
                            <section>
                                <h2>O mne</h2>
                                <p class="justify_text">
                                    <img src="../images/me.jpg" alt="Lea Lapšanská" height="125" width="125" class="my_photo"> Moje meno vám iste neušlo, ale pre istotu volám sa Lea Lapšanská. Som 19 ročná baba pôvodom spod Tatier. Štúdium ma priviedlo práve do rušnej Bratislavy. Študujem na Fakulte elektrotechniky a informatiky odbor aplikovaná informatika. Úspešne som sa dostala do 3 ročníka bakalárského štúdia. V tomto roku ma čaká povinnosť naviac - bakalárska práca. Bude to webová aplikácia s témou:„Rezervačný systém miestnosti”. Bakalársku prácu robím v spolupráci s firmou <a href="https://maternacz.com" class="color">Materna</a>. Pevne dúfam, že táto práca bude v praxi plne využiteľná a už čoskoro aj mne pribudne nejaký ten titul pred menom.
                                    <br /> Pracujem ako testerka pre firmu <a href="https://www.ui42.sk" class="color">ui42</a>. Vo voľnom čase sa veujem prekladu rôznych článkov, predovšetkým z nemeckého jazyka, ktorý je pre mňa aj záľubou. Ak by ste si radi prečítali nejaký môj článok, nájdete ho na stránke <a href="https://www.femmina.sk" class="color">FEMMINA</a>. Najradšej však trávim čas so svojou rodinou. Milujem cestovanie, ktoré mi zaručí ten pravý oddych.
                                </p>
                                <hr>
                            </section>
                            <section>
                                <h3>Chcete vedieť, ktoré krajiny som už navštívila? Tu je stručný zoznam:</h3>
                                <img src="../images/earth.png" alt="Zemeguľa" height="150" width="150" class="list_image">
                                <ul class="left_align">
                                    <li>Švajčiarsko</li>
                                    <li>Nemecko</li>
                                    <li>Turecko</li>
                                    <li>Bulharsko</li>
                                    <li>Ukarjina</li>
                                    <li>Taliansko</li>
                                    <li>Chorvátsko</li>
                                </ul>
                                <hr>
                            </section>
                            <section>
                                <h2>Moja škola</h2>
                                <aside>„Your only limit is you.”</aside>
                                <p class="justify_text">Poslaním Fakulty elektrotechniky a informatiky STU v Bratislave, ako jednej z najstarších technických fakúlt na Slovensku s bohatou vedeckou a výskumnou činnosťou, je predovšetkým poskytovanie kvalitného univerzitného vzdelávania všetkých stupňov na báze slobodného vedeckého bádania a tvorivej výskumnej práce. Poslanie fakulty v oblasti pregraduálneho vzdelávania spočíva v príprave univerzálne profilovaných a flexibilných absolventov študijných odborov bakalárskeho štúdia s dostatočnou teoretickou i praktickou úrovňou vedomostí a zručností, teda vysokoškolsky vzdelaných odborníkov pre širokú spoločenskú prax.
                                </p>
                            </section>
                        </article>
        </div>
        <footer class="footer">
                <span class="footer-text">Vytvorené 2019 |  Lea Lapšanská, Miloš Medo, Dominik Janecký | FEI API</span>
            </footer>
    </main>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/script.js"></script>
    <!-- <script src="meniny.js"></script> -->
</body>

</html>