<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O Milošovi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand black" href="#">WebTech</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="menu" class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <nav aria-label="breadcrumb breadcrumbs">
                <ol id="brdcb" class="breadcrumb breadcrumbs">

                </ol>
            </nav>
            <article>
                <h1 class="display-1">O mne</h1>
                <section>
                    <h2 class="display-2">Štúdium</h2>
                    <p>
                        <img class="img-responsive" src="../images/profile-picture.jpg" alt="Môj portrét" height="120" width="120"
                             style="float:left; margin-right:20px; border-radius:50% 50% 50% 50%;">
                        Ahoj návštevník. Moje meno je Miloš Medo, mám 22 rokov a som študentom tretieho ročníka na
                        Fakulte Elektrotechniky a Informatiky na Slovenskej Technickej Univerzite so sídlom v
                        Bratislave v odbore
                        Aplikovaná Informatika, konkrétnejšie Modelovanie a Simulácia Udalostných Systémov. Faktom ale
                        je, že som pôvodne začínal na susednej Fakulte Informatiky a Informačných Technológií, kde som
                        dokončil
                        svoj prvý rok štúdia. Následne som sa rozhodol prestúpiť a teraz som tu. Počas štúdia som si
                        takisto ako väčšina študentov prešiel dobrými a zlými chvíľami, ktoré mi dali do života rôzne
                        skúsenosti,
                        ponaučenia a samozrejme vedomosti. Postupne som zistil, že práve to, čo hľadám a čo ma bude
                        baviť, je oblasť,
                        v ktorej môžem využiť nielen svoje programátorské, ale i kreatívne schopnosti - webové
                        technológie.
                        V tejto problematike som ešte nováčik, no dúfam, že sa to čoskoro zmení.
                    </p>
                </section>
                <section>
                    <h2 class="display-2">Ostatné informácie</h2>
                    <p>
                        V súčasnosti som popri škole zároveň zamestnancom spoločnosti Siemens, kde som na pozícií SCADA
                        Graphic Designer. Pokiaľ sa naskytne voľný čas, venujem sa čítaniu kníh, sledujem seriály a
                        filmy,
                        trávim čas s kamarátmi alebo rodinou, cestujem a spoznávam svet, a ako väčšina mojich
                        rovesníkov leňoším a prokrastinujem. Som veľkým milovníkom minimalizmu, elektronickej hudby,
                        festivalov, ázijskej a indickej
                        kuchyne a takistom obľúbencom hororov, sci-fi a fantasy.
                    </p>
                </section>
                <section>
                    <h2 class="display-2">Aktuálny semester</h2>
                    <p>
                        Momentálne sa nachádzam v tretiom ročníku, konkrétne zimnom semestri, a toto sú moje predmety:
                    </p>
                    <ul>
                        <li>Matematická Štatistika</li>
                        <li>Analýza a Zložitosť Algoritmov</li>
                        <li>Webové Technológie I</li>
                        <li>Operačné Systémy</li>
                        <li>Informačné Systémy v Zdravotníctve</li>
                        <li>Telesná Kultúra</li>
                        <li>Softvérové Inžinierstvo</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
    <footer class="footer">
          <span class="footer-text">Vytvorené 2019 |  Lea Lapšanská, Miloš Medo, Dominik Janecký | FEI API</span>
      </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/script.js"></script>
    <!-- <script src="meniny.js"></script> -->
</body>

</html>