<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Novinky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand black" href="#">WebTech</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul id="menu" class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
                <nav aria-label="breadcrumb breadcrumbs">
                        <ol id= "brdcb" class="breadcrumb breadcrumbs">
                            
                        </ol>
                    </nav>
            <div class="row">
                <div class="col-xs-3 .col-sm-4"  id="odstavvec1">
                    <b>Ruskí mladíci pred štvrťfinále: Slovákov príliš nepoznáme, nemôžeme ich podceniť</b><br>
                    "Slovákov príliš nepoznáme. Nesledovali sme ich zápasy, ale myslím si, že tým sa zaoberal nás trénerský štáb,
                    ktorý nás na tento duel musí pripraviť," cituje portál Sport24.ru útočníka Klima Kostina, ktorý je kapitánom
                    tímu a ako jediný z ruskej reprezentácie pôsobí v zámorskej AHL.

                    "Rozhodne ich nemôžeme podceniť. Na majstrovstvách sveta juniorov sme v minulosti videli nejedno prekvapenie,
                    keď slabší tím prekvapil ten silnejší," dodal Kostin.

                    <br>Zdroj: <a href="https://sport.sme.sk/c/22019762/ruski-hokejisti-slovakov-nepoznaju-nechcu-ich-podcenit.html">KLIKNI SEM !!</a>
                </div>
                <div class="col-xs-3 .col-sm-4 "  id="odstavvec2">
                    <b>Fantázia! Petra Vlhová v paralelnom slalome konečne porazila Shiffrinovú</b><br>
                    "Po Semmeringu je to ďalší úžasný deň. Konečne som zdolala Mikaelu a zvíťazila som. Keď je Mikaela so mnou vo finále,
                    tlačí na moje limity. V prvej jazde som sa snažila ísť čo najrýchlejšie. V druhej som si povedala, že teraz to musím
                    dokázať. Po príchode do cieľa som bola veľmi šťastná," povedala Vlhová v televíznej reakcii.

                    "Myslím si, že od začiatku bola Petra v obrovskej forme. Mikaela nebola v takej pohode, Petra sa koncentrovala, vedela, že emócia
                    príde na koniec," zhodnotila Velez-Zuzulová.

                    <br>Zdroj: <a href="https://sport.aktuality.sk/c/374219/fantazia-petra-vlhova-v-paralelnom-slalome-konecne-porazila-shiffrinovu/">KLIKNI SEM !!</a>
                </div>
                <div class="col-xs-3 .col-sm-4" id="odstavvec3">
                    <b>Vincent Kompany: Naša hrdosť utrpela, proti Liverpoolu to chceme zlomiť</b><br>

                    Naša hrdosť v ostatných týždňoch trochu utrpela," pripomenul stopér City Vincent Kompany tri decembrové prehry s Chelsea,
                    Crystal Palace a Leicestrom City. "Máme však na to, aby sme to zlomili na našu stranu. Všetko závisí na nás. Každý,
                    kto príde na štadión, musí byť pripravený zabojovať," doplnil odhodlane 32-ročný Belgičan.

                    <br>Zdroj: <a href="https://sport.aktuality.sk/c/374269/vincent-kompany-nasa-hrdost-utrpela-proti-liverpoolu-to-chceme-zlomit/">KLIKNI SEM !!</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer-news">
        <span class="footer-text">Vytvorené 2019 |  Lea Lapšanská, Miloš Medo, Dominik Janecký | FEI API</span>
    </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/script.js"></script>
    <!-- <script src="meniny.js"></script> -->
</body>

</html>